.menu-bar__logo__container {
	display: flex;
	align-items: center;
	margin-left: 30px;
}

.menu-bar__logo__container > h1 {
	color: black;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}

.menu-bar__container__img {
	width: 35px;
	height: 35px;
	margin: 5px;
}
