.card__container {
	position: relative;
	border: 10px solid white;
	border-radius: 10px;
	width: 300px;
	height: 500px;

	background-color: #d75413;

	display: flex;
	overflow: hidden;
	margin-top: 15px;

	transition: transform .8s;
}

.card__container:hover {
	transform: scale(1.05);
}

.card__img {
	position: relative;
	top: 20px;
	left: 80px;
	height: 320px;

	opacity: .4;
}

/*.card__img:hover {
	transform: scale(1.1);
}
*/
