<div>
	<li class="card-stats__detail">
		<span class="card-stats__detail__label">HP</span>
		<span class="card-stats__detail__value">{{cardHP}}</span>
		<progress class="card-stats__detail__dados" max="100" [value]=[cardHP]></progress>

		<span class="card-stats__detail__label">Attack</span>
		<span class="card-stats__detail__value">{{cardAttack}}</span>
		<progress class="card-stats__detail__dados" max="100" [value]=[cardAttack]></progress>

		<span class="card-stats__detail__label">Defense</span>
		<span class="card-stats__detail__value">{{cardDefense}}</span>
		<progress class="card-stats__detail__dados" max="100" [value]=[cardDefense]></progress>

		<span class="card-stats__detail__label">SP Atk</span>
		<span class="card-stats__detail__value">{{cardSPAtk}}</span>
		<progress class="card-stats__detail__dados" max="100" [value]=[cardSPAtk]></progress>

		<span class="card-stats__detail__label">SP Def:</span>
		<span class="card-stats__detail__value">{{cardSPDef}}</span>
		<progress class="card-stats__detail__dados" max="100" [value]=[cardSPDef]></progress>

		<span class="card-stats__detail__label">Speed</span>
		<span class="card-stats__detail__value">{{cardSpeed}}</span>
		<progress class="card-stats__detail__dados" max="100" [value]=[cardSpeed]></progress>

	</li>
</div>
